.header_form{
    width: 500;
    height: 5vw;
    padding: 15px;
    background-color: #FFF;
    border: solid 1px dodgerblue;
}

.board_name{
    width: 300px;
    margin-left: 8px;
    background-color: #FFF;

}

.boardIcon{
    background-color: red;
}