

.btn_Edit:hover{
    background-color: DodgerBlue;
    color: #FFF !important;
}

.taskModalStyle{
    margin: 50px 200px;
    padding: 50px;
    background-color: rgb(218, 218, 218);;
}

.inputs_modal{
    margin-bottom: 15px;
    border: solid 2px dodgerblue;
}